@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

td {
  padding: 0.5rem;
}

th {
  color: #aaa;
  font-weight: 300;
  text-align: right;
}

.background {
  fill: none;
  pointer-events: all;
}

.container {
  position: relative;
}

.controller {
  margin: 0 auto;
  max-width: 1200px;
}

.county-boundary {
  fill: none;
  stroke-width: 0px;
}

.ok_map {
  box-sizing: border-box;
  display: grid;
  margin: 0 auto;
  max-width: 900px;
  padding: 1rem;
}

.win {
  background: rgba(0, 0, 0, 0.05);
}

.place-text {
  fill: #fff;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.precinct-num {
  display: block;
  height: 20px;
  width: 100%;
}

.county-overlay:hover {
  stroke: #000;
  stroke-width: 1px;
}

.democrat-percentage,
.democrat-vote,
.republican-percentage,
.republican-vote {
  text-align: right;
}

.desc-row,
.democrat-row {
  border-bottom: 1px solid #ccc;
}

.clrBlock {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.democrat-row .drk-color {
  background: #446093;
}

.republican-row .drk-color {
  background: #bc3939;
}
